html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  
  
  canvas {
    display: block;
    width: fit-content;
    height: fit-content;
  }
  
  button{
      background-color: rgb(144, 160, 143); 
    width: 100px;
    height: 20px;
    
  
   
    } 